<!DOCTYPE html>
<html lang="en">
    <head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App</title>
  </head>
  <body>
    <div class="container">
      <div class="row main">
        <div class="panel-heading">
                <div class="panel-title text-center">
                  <h1 class="title">Projekt</h1>
                </div>
              </div> 
        <div class="main-login main-center">
        <div class="form-horizontal">
        <%= form_tag("welcome/update/", :method =>'post') do %>

            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Parametr 1</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></span>
                    <%= text_field_tag "parameter_1", "", :placeholder =>  "Podaj Parametr nr 1", :class => "form-control"%>
                </div>
              </div>
            </div>


            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Parametr 2</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></span>
                    <%= text_field_tag "parameter_2", "", :placeholder =>  "Podaj Parametr nr 2", :class => "form-control"%>
                </div>
              </div>
            </div>

            <div class="form-group ">
              <%= submit_tag "Wyslij", :class => "btn btn-primary btn-lg btn-block login-button fa-circle-o-notch fa-spin", data: { disable_with: "Przetwarzanie..." } %>
            </div>

        <% end %>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
